[submodule "third_party/InterFuser"]
	path = third_party/InterFuser
	url = git@github.com:CollaborativePerception/InterFuser.git
[submodule "third_party/OpenCOODv2"]
	path = third_party/OpenCOODv2
	url = git@github.com:CollaborativePerception/OpenCOODv2.git
